.modal-centered {
    position: fixed;
    z-index: 1;
    width: 500px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    padding: 10px;
    background-color: #FFF;
    border: 5px solid #000;
    z-index: 200;
    box-shadow: #000 0 2px 18px;
}

.bd-callout {
    margin: 30px 7px;
    padding-left: 20px;
}

.bd-callout-warning {
    border-left: 3px solid red;
}

.borderLeftColor1 {
    border-left: 3px solid red;
}